<div class="analytics-metrics container-fluid h-100 rounded-4 p-2">
  <div class="header d-flex justify-content-between align-items-center mt-2">
    <div>
      <h3 class="mb-0">Event:</h3>
      <p>{{selectedEvent()?.e_title}}</p>
    </div>
    <div class="event-dropdown">
       <button
         class="dropdown-btn"
         type="button"
         (click)="toggleDropdown()"
         [attr.aria-expanded]="isOpen()"
       >
         Events
         <span class="arrow" [class.open]="isOpen()">▾</span>
       </button>

       @if (isOpen()) {
         <ul class="event-dropdown-menu">
           @for (event of events() ; track event.id) {
             <li (click)="select(event)">{{event.e_title}}</li>
           }
         </ul>
       }
     </div>
  </div>
  <div class="line-chart-container">
    <app-line-chart-component [eventAnalytics]="eventAnalytics()"/>
  </div>
  <div class="bar-chart-container">
    Hello world
  </div>
</div>
