<div class="analytics-metrics container-fluid h-100 rounded-4 p-2">
  <div class="header d-flex justify-content-between align-items-center mt-2 p-4">
    <div>
      <h3 class="mb-0">Event: {{selectedEvent()?.e_title}}</h3>
    </div>
    <div class="event-dropdown">
       <button
         class="dropdown-btn"
         type="button"
         (click)="toggleDropdown()"
         [attr.aria-expanded]="isOpen()"
       >
         Events
         <span class="arrow" [class.open]="isOpen()">▾</span>
       </button>

       @if (isOpen()) {
         <ul class="event-dropdown-menu">
           @for (event of events() ; track event.id) {
             <li (click)="select(event)">{{event.e_title}}</li>
           }
         </ul>
       }
     </div>
  </div>
  <div class="line-chart-container rounded-4 p-4">
    @if(eventAnalytics() === undefined) {
      <app-charts-loading-component chartType="line"/>
    } @else {
      <app-line-chart-component [eventAnalytics]="eventAnalytics()!"/>
    }
  </div>
  <div class="event-metrics d-flex flex-column justify-content-between p-2 my-3">
    <div class="d-flex justify-content-center">
      <hr>
    </div>
    <div class="event-metrics-body d-flex align-items-center justify-content-around p-4 rounded-4">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h4 class="metric-title">Total Seats Sold</h4>
        <div class="box d-flex align-items-center justify-content-center rounded-4 shadow-sm">
          {{ eventAnalytics()?.total?.total_seats_sold }}
        </div>
      </div>

      <div class="d-flex flex-column align-items-center justify-content-center">
        <h4 class="metric-title">Total Revenue</h4>
        <div class="box d-flex align-items-center justify-content-center rounded-4 shadow-sm">
          {{ eventAnalytics()?.total?.total_revenue | currency:'USD' }}
        </div>
      </div>

      <div class="d-flex flex-column align-items-center justify-content-center">
        <h4 class="metric-title">Last booking at</h4>
        <div class="box d-flex align-items-center justify-content-center rounded-4 shadow-sm">
          {{ eventAnalytics()?.total?.last_booking_at | date:'medium' }}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <hr>
    </div>
  </div>
  <div class="bar-and-pie-container d-flex gap-2">
    <div class="bar-chart-container h-100 w-50 rounded-4 p-4">
      @if (eventAnalytics() === undefined) {
        <app-charts-loading-component chartType="bar"/>
      } @else {
        <app-bar-chart-component [eventAnalytics]="eventAnalytics()!" />
      }
    </div>
    <div class="pie-chart-container h-100 w-50 rounded-4 p-4">
      @if (eventAnalytics() === undefined) {
        <app-charts-loading-component chartType="pie" />
      } @else {
        <app-pie-chart-component [eventAnalytics]="eventAnalytics()!" />
      }
    </div>
  </div>
  <div class="table-container d-flex flex-column justify-content-center rounded-4 p-4 my-2">
    <h1>Analytics Table</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Seats sold</th>
        <th scope="col">Revenue generated</th>
      </tr>
      </thead>
      <tbody>
        @for (e of eventAnalytics()?.daily; track e.id) {
          <tr>
            <th scope="row">{{e.id}}</th>
            <td>{{e.date}}</td>
            <td>{{e.seats_sold}}</td>
            <td>{{e.revenue}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
