.analytics-metrics {
  background-color: var(--bg-base-shade);
  color: var(--text-primary);
  overflow-y: auto;
  .header {
    height: 10%;
    h3 {
      font-weight: 800;
    }
    p {
      font-weight: 700;
    }

    .event-dropdown {
      position: relative;
      display: inline-block;

      .dropdown-btn {
        background-color: var(--bg-base);
        border: 1px solid var(--bg-primary);
        border-radius: 1rem;
        height: 2rem;
        width: 14rem;

      }

      .arrow {
        margin-left: .4rem;
        transition: transform .2s ease;
      }

      .arrow.open {
        transform: rotate(180deg);
      }

      .event-dropdown-menu {
        position: absolute;
        top: 120%;
        right: 0;
        list-style: none;
        padding: .4rem;
        margin: 0;
        width: 23rem;
        background: var(--bg-base);
        border-radius: .8rem;
        box-shadow: 0 10px 25px rgba(0, 0, 0, .25);

        li {
          padding: .45rem .6rem;
          border-radius: .5rem;
          cursor: pointer;
          transition: background .15s;

          &:hover {
            background: var(--text-primary);
            color: white;
          }
        }
      }
    }
  }

  .line-chart-container {
    height: 90%;
    position: relative;
  }

  .event-metrics {
    height: 50%;
    position: relative;

    div {
      hr {
        width: 90%;
      }
    }

    .event-metrics-body {
      gap: 1rem;

      .metric-title {
        color: var(--text-primary);
        font-size: 1.1rem;
        margin-bottom: 0.75rem;
      }

      .box {
        background-color: var(--bg-base-pure);
        color: var(--text-primary);
        min-height: 3rem;
        min-width: 5rem; /* Allows the box to grow for dates and currency */
        padding: 0.5rem 1.5rem;
        font-weight: 600;
        border: 1px solid var(--bg-base-tint);
      }
    }
  }

  .bar-and-pie-container {
    height: 70%;
    position: relative;

    .bar-chart-container {
      background-color: var(--bg-base-pure);
      position: relative;
    }
    .pie-chart-container {
      background-color: var(--bg-base-pure);
      position: relative;
    }

  }
}
