.custom-host-topbar {
  background-color: var(--bg-base-shade);
  border-radius: 20px;
  .title {
    color: var(--text-primary);
    h3 {
      font-size: 2rem;
      font-weight: 900;
    }
  }

  .profile-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--text-primary);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 1;
  }

  .user-name {
    color: var(--text-primary);
  }

  .role-text {
    margin-top: -0.3rem;
  }
}



