<div class="booking-wrapper">
  <div class="container py-4">
    @if (errorMessage()) {
      <div class="error-box">
        <div class="error-title">Booking failed</div>
        <div class="error-text">{{ errorMessage() }}</div>
      </div>
    }
    <!-- Top Section -->
    <div class="booking-header mt-4 w-100 p-3 rounded shadow-sm d-flex align-items-center">

      <div>
        <div class="fw-semibold">
          Seats:
          {{selectedSeatNumbers()}}
        </div>

        <div class="fw-bold">
          ₹{{ totalPrice() }}
        </div>
      </div>

      <button
        class="btn ms-auto px-4"
        [disabled]="selectedSeats().length === 0"
        (click)="handleBooking()"
      >
        Check out
      </button>

    </div>
  </div>

  <div>
      <div class="text-center mb-4">
        <h4 class="fw-bold">Select Your Seats</h4>
        <div class="stage mb-3">STAGE</div>
      </div>

      <div class="seat-container d-flex flex-column align-items-center gap-2">

        @for (row of eventSeats(); track $index) {
          <div class="d-flex gap-2 justify-content-center">

            @for (seat of row; track seat.id) {
              <button
                class="seat btn"
                [ngClass]="{
              'seat-booked': seat.booked,
              'seat-selected': this.isSeatSelected(seat)
              }"
                [disabled]="seat.booked"
                (click)="toggleSeatBooking(seat)"
              >
                {{ seat.seat_no }}
              </button>
            }
          </div>
        }
  </div>
</div>
