.wrapper {
  background-color: var(--bg-base-shade);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0; /* important */
  color: var(--text-primary);

  .helper-wrapper {
    background-color: var(--bg-base-pure);
  }
}
