.manage-event-container {
  background-color: var(--bg-base-shade);
  position: relative;

  .events-list {
    overflow-y: auto;
  }

  button {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    background-color: var(--bg-primary);
    color: var(--bg-base-pure);
  }
}
