.host-sidebar-container {
  width: 260px;
  background-color: var(--bg-secondary);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);

  .text-primary-custom {
    color: var(--text-primary);
  }

  .sidebar-nav {
    position: relative;

    .icon {
      color: var(--text-primary);
      width: 14px;
      height: 14px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  h4 {
    font-weight: 800;
  }


  .sidebar-link {
    position: relative;
    color: var(--text-primary);
    border-radius: 12px;
    padding: 10px 18px;
    transition: all 0.2s ease;
    font-weight: 500;
    .sidebar-icon {
      object-fit: contain;
    }
  }

  /* Hover */

  .sidebar-link {
    &:hover {
      .icon {
        background-color: var(--bg-base-tint);
        color: var(--bg-primary); /* whatever styles you want */
      }

      span {
        color: var(--bg-primary);
      }
    }
  }

  /* Active state */
  .sidebar-link.active {
    color: var(--bg-primary);
    font-weight: 600;
    .icon {
      color: var(--bg-primary); /* or whatever active icon styles you need */
    }
  }

  /* Pink side stick */
  .sidebar-link.active::before {
    content: "";
    position: absolute;
    left: -18px;   /* adjust depending on padding */
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 28px;
    background-color: var(--bg-primary);
    border-radius: 6px;
  }
}
